.ant-card-body {
  padding: 0 !important;

}

.ant-card {
  border-radius: 0px;
  margin-left: auto;
  margin-right: auto;
}

.custom-rate {
  font-size: 16px;
  padding-bottom: 8px;
}

.movie-card {
  width: 450px;
  height: 280px;
}

.movie-card__description {
  margin-right: 15px;
}

.movie-card__title{
    width: 100%;
    display: flex;
    justify-content:space-between;
    column-gap: 15px;
    box-sizing:border-box;
}



.movie-card__img {
  display: 'block';
  width: 183px;
  height: 279px;
}

.title{
 max-width: 190px;
}

.genresList{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.genresName{
  white-space: nowrap;
}
.rating {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  max-height: 100%; 
  max-width: 100%;
}

.low-rating {
  border: 2px solid #e90000;
}

.medium-rating {
  border: 2px solid #e97e00;
}

.high-rating {
  border: 2px solid #e9d100;
}

.top-rating {
  border: 2px solid #66e900;
}


@media (max-width: 1024px) {

  .movie-card__img {
    position: absolute;
    width: 90px;
    height: 130px;
    padding: 6px 0px 10px 10px;
  }
  .custom-rate {
   
    position: absolute; 
    bottom: 8px; 
    right: 8px; 
  }

  .movie-card__info{
    width: 100vw;
  }
  
  .movie-card {
    position: relative;
    width: 388px;
    height: 245px;
    border-radius: 0px;
    margin-left: auto;
    margin-right: auto;
  }

  .ant-typography.movie-card__title{
    margin-bottom: 0;
  }

  .title{
    max-width: 190px;
    margin-left: 90px;
   }

   .ant-card-body {
    padding: 0 !important;
  
  }

  .genresList{
    margin-left: 90px;
    margin-bottom: 40px !important;
  }

  .release {
    margin-left: 90px;
    
  }

  .movie-card__description{
    position: absolute;
    top: 150px;
  }

}


