#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

}

.ant-alert {
  margin: 32px 32px;
}

.ant-tabs-nav-wrap {
  justify-content: center;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}





